.container6{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 236, 236);
    text-align: center;
}
.heading{
    font-weight: bolder;
    font-size: larger;
    margin-top: 20px;
}
.formInfo
{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}
.info1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}
.form1{
    width: 50rem;
}
.checkBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: -330px;
}
.form-check{
    margin-left: 20px;
}
.subBtn{
    margin-left: -12rem;
}
